<!-- index.hbs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tu Aplicación con Socket.IO</title>
</head>
<body>

  

  <!-- Importar el cliente de Socket.IO -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>

  <!-- Tu código de cliente -->
  <script>
    // Conectar al servidor Socket.IO
    const socket = io();


    socket.on('productoAgregado', (producto) => {
      console.log('Nuevo producto agregado:', producto);
 
    });


    socket.on('productoEliminado', (productId) => {
      console.log('Producto eliminado:', productId);

    });

    

  </script>
</body>
</html>
