<h1>Productos</h1>



<form id="agregarProductoForm">
    <label for="title">Título del producto:</label><br>
    <input type="text" id="title" name="title" required><br>

    <label for="description">Descripción del producto:</label><br>
    <input type="text" id="description" name="description" required><br>
    
    
    
    <input type="submit" value="Submit">
</form>

